.mobile-label {
    display: none;
}

@media (max-width: 768px) {
    .responsive-table td {
        display: block;
        text-align: right;
        border: none;
    }

    .responsive-table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: capitalize;
    }

    .responsive-table tr {
        display: block;
        border: 1px solid #dddddd;
    }

    .responsive-table th {
        display: none;
    }

    .mobile-label {
        text-align: left;
        display: block;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}